html,
body,
#react-root {
  height: 100%;
}

/* FONTS */

@font-face {
  font-family: heavy;
  src: url('../../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: normal;
  src: url('../../fonts/GothamBook.ttf');
}

@font-face {
  font-family: light;
  src: url('../../fonts/Gotham-Light.otf');
}

/* COLOR PALLETTE  */
:root {
  /* TRY TO USE GROUPS TOGETHER */
  /* GROUP A */
  --green: rgb(175, 204, 54);
  --cream: rgb(244, 241, 223);
  --teal: rgb(112, 190, 163);
  /* GROUP B */
  --yellow: rgb(247, 221, 77);
  --navy: rgb(36, 76, 98);
  --green: rgb(175, 204, 54);
  /* GROUP C */
  --grey: rgb(66, 77, 87);
  --green: rgb(175, 204, 54);
  --navy: rgb(36, 76, 98);
}

body {
  font-family: light;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container`
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* USER PAGE */

.GrandFarm {
  width: 30em;
  margin-top: 2em;
}

.welcome {
  margin-bottom: .8em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ACCOUNT PAGE */

.blank {
  width: 20em;
}

.details-and-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.pencil {
  height: 2.5em;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-photo button {
  margin: 1em;
}

.bold {
  font-family: heavy;
}

.account-wrapper {
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.account-wrapper h1 {
  font-size: 3em;
  margin-right: .3em;
}

/* COMPANY */

.members {
  display: flex;
  flex-direction: row;
}

.create-company {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

.companyName {
  font-size: 3em;
  margin: 1em .3em 1em 1em;
}

.links {
  padding: 1em 3em 1em 3em;
  font-size: 2em;
  text-align: center;
  border: 1px solid black;
  width: 50vw;
  background-color: white;
}

.links:hover {
  cursor: pointer;
}

.company-name-and-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROJECTS */

.projects-wrapper {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.project {
  width: 70vw;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
}

.project :hover {
  cursor: pointer;
}

.projectHeading {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-content: space-between;
}

.project_company_name {
  align-self: flex-start;
  opacity: 60%;
}

.project-description {
  opacity: 60%;
}

.title-and-date {
  display: flex;
  justify-content: space-between;
}

.title-and-date h6 {
  opacity: 60%;
}

.nothingYet {
  margin-top: 5em;
}

/* TASK */

.task-flex {
  display: flex;
  /* width: 90vw; */
  justify-content:center;
  align-items: center;
}

.task-wrapper {
  margin: 3em;
  margin-top: 3em;
  width: 70vw;
}

.project-details {
  display: flex;
  justify-content: space-between;
}

.taskHub {
  border: 1px solid black;
  border-bottom: 0;
}

.task {
  border-bottom: 1px solid black;
  padding: 1em;
}

.sort-tabs {
  background-color: var(--grey);
  width: 70vw;
  color: white;
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-bottom: 0;
}

.tab {
  padding: 1em 2em 1em 2em;
}

.title-and-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  height: 1em;
  margin: .5em;
}

.dots:hover {
  cursor: pointer;
}

.no-tasks {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.dot-and-task {
  display: flex;
  align-items: center;
}

/* RESPONSIVENESS */

@media screen and (max-width: 900px) {
  .sort-tabs {
    flex-direction: column;
  }
  .tab {
    border-top: 1px solid white;
  }
}