.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.navLink, .navLogOut {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;

  /* these last two make the logout button in
  the nav bar look like another link */
  background-color: rgba(255, 255, 255, 0.955);
  border: none;
  border-top: 1px solid rgba(66, 77, 87, 0.955);
  width: 8em;
  cursor: pointer;
  background-color: none;
  transition: background-color 200ms linear;
}

.navLogOut {
  border-bottom: 1px solid rgba(66, 77, 87, 0.955);
}

.navLink:hover, .navLogOut:hover {
  background-color: rgba(174, 204, 54, 0.247);
  color: inherit;
}

.menuIcon {
  width: 2em;
  margin: 1em;
  position: sticky;
  top: 1em;
}

.menuIcon:hover {
  cursor: pointer ;
}

.h {
    position: fixed;
}
